@font-face {
    font-family: "Roboto";
    src: url('/fonts/Roboto/static/Robot_Black.ttf') format('truetype');
    font-weight: 400;
    font-style: normal
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;  /* Make container take full screen width */
    min-height: 100vh;
}

/*Header Adjustements*/
.header {
    grid-column: 2;
    grid-row: 1;

    display: grid;
    margin-top: 10px;

    box-shadow: 3px 3px lightblue;
}

.header1 {
    grid-row: 1;

    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 30px;
}

.header1-left {
    grid-column: 1;

    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
    gap: 20px;
}

.header1-right {
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    gap: 20px;
}


.ringbell {
    text-align: right;
}

.profile-pic-header, .profile-pic-body {
    text-align: center;
}

.search-icon {
    text-align: right;
    margin: 0;
    margin-top: 8px;
}

.header2 {
    grid-row: 2;

    display: grid;
    grid-template-columns: 5fr 10fr 3fr 3fr 3fr;
    align-items: center;
}

.small-greeting{
    font-size: 11px;
}

.title-big{
    font-weight: 600;
    font-size: 21px;
}

.header p {
    margin: 0;
}



/*Sidebar Adjustements*/
.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: rgba(26, 122, 239, 0.875);

    display: grid;
    grid-template-rows: 1fr 4fr;
}

.menu {
    display: grid;
    gap: 20px;
}

.home, .menu-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    color:white;
    gap: 20px;
}

.home {
    gap: 10px;
}

.menu-item {
    height: 50px;
}

.sidebar-icon {
    text-align: right;
}


/*Main Content Adjustements*/
.main-content {
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-columns: 5fr 2fr;

    background-color: rgb(227, 232, 240);
}

.project-card-container {
    grid-column: 1;
    grid-row: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.projects, .announcements, .trending {
    margin-right: 20px;
    margin-left: 20px;
}

.projects .text, .trending-text p {
    font-size: 12px;
    font-weight: 200;
    margin-left: 20px;
}

.main-content .title {
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.project-card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    margin: 10px;
    padding: 20px;
    gap: 20px;

    background-color: white;
    border-radius: 5px;

    box-shadow: inset 3px 0 0 0 rgb(255, 196, 0);
}

.project-card-text{
    grid-column: 1 / 3;
    grid-row: 1;
}

.project-card-icons {
    grid-column: 2;
    grid-row: 2;
    
    display: flex;
    justify-content: space-evenly;
}

.project-card img {
    width: 20px;
    height: 20px;
}

.main-content .right-side {
    margin-right: 20px;
}

.announcement-cards-container, .trending-cards-container {
    display: grid;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    padding-bottom: 20px;
}

.announcement-card:nth-child(1),  .announcement-card:nth-child(2){
    border-bottom: 1px solid rgb(227, 232, 240);
    padding-bottom: 20px;
}

.announcement-title {
    font-size: 12px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.announcement-text {
    font-size: 10px;
    font-weight: 200;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.trending-text p.username {
    font-weight: 550;
}


.trending-card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.trending-user-profile {
    text-align: right;
}



/* images alteration */
.header1 img {
    width: 25px;
    height: 25px;
    margin: 0;
}

.sidebar svg, .trending-card img, .profile-pic-header img {
    width: 30px;
    height: 30px;
    margin: 0;
}


.header2 img {
    width: 60px;
    height: 60px;
}

.home svg {
    width: 60px;
    height: 60px;
}

button {
    height: 30px;
    width: 120px;
    border-radius: 100px;
    background-color: rgba(26, 122, 239, 0.875);
    color: white;
    border: none;  /* Add this - removes default button border */
    box-shadow: none;
}

button:hover {
    background-color: rgba(10, 87, 181, 0.875);
}

button:active {
    background-color: rgba(5, 49, 102, 0.875);
}

input {
    height: 20px;
    width: 550px;
    border-radius: 100px;
    background-color: rgb(227, 232, 240);
}


svg {
    stroke: white;
    fill: white;
}